{% extends "home.html" %}

{% block title %}Individual Projects{% endblock %}

{% block maincontent %}
    <div class="container text-center mt-4 mb-4 text-white">
        <h1>Individual Projects</h1>
        <p>Here are some of the individual projects I have worked on:</p>
    </div>
    
    <div class="container card mb-4" style="background-color: #00e18b;">
        <div class="card-header">
            <h5>Project: Simple chat</h5>
            <h5>Finished: Nov 14, 2024</h5>
        </div>
        <div class="card-body">
            <p>Created as an exercise, this program stores data. You can add users and view overall user statistics. After selecting your user you can add messages.</p>
            <p>Tools used: Python, SQLite3, html, flask, Django</p>
            <img src="static/images/databa.PNG" class="img-fluid d-block mx-auto mb-2" style="max-height: 700px;">
            <a href="https://github.com/ReinisDelvers/PD_datubaze">Go to repository</a>
        </div>
    </div>

    <div class="container card mb-4" style="background-color: #00e18b;">
        <div class="card-header">
            <h5>Project: Inventory Management Program</h5>
            <h5>Finished: Oct 8, 2024</h5>
        </div>
        <div class="card-body">
            <p>Created as an exercise, this program does not store data. You can add and manipulate storage items and their quantities.</p>
            <p>Tools used: Python, Tkinter</p>
            <img src="static/images/storage.PNG" class="img-fluid d-block mx-auto mb-2" style="max-height: 700px;">
            <a href="https://github.com/ReinisDelvers/PD_OOP">Go to repository</a>
        </div>
    </div>

    <div class="container card mb-4" style="background-color: #00e18b;">
        <div class="card-header">
            <h5>Project: Bullet hell</h5>
            <h5>Finished: Apr 24, 2024</h5>
        </div>
        <div class="card-body">
            <p>This is my first project working with arduino, which is a modification of an existing example. It is a local multiplayer game where the objective is to eat falling nukes while avoiding trees. In its current state, the game has multiple issues and is unplayable.</p>
            <p>Tools used: html, JavaScript, canvas</p>
            <img src="static/images/s2js.PNG" class="img-fluid d-block mx-auto mb-2" style="max-height: 700px;">
            <a href="https://reinisdelvers.github.io/S2JS/" class="d-block">Go to site</a>
            <a href="https://github.com/ReinisDelvers/S2JS">Go to repository</a>
        </div>
    </div>
{% endblock %}
