{% extends "home.html" %}

{% block title %}Individual Projects{% endblock %}

{% block maincontent %}
    <h1>Individual Projects</h1>
    <p>Here are some of the individual projects I have worked on:</p>
    
    <!-- Project 1 Card -->
    <div class="card mb-3">
        <div class="card-header">
            <h5>Project 1: [Project Name]</h5>
        </div>
        <div class="card-body">
            <p>Description of the individual project, tools used, challenges faced, and solutions implemented.</p>
        </div>
    </div>

    <!-- Project 2 Card -->
    <div class="card mb-3">
        <div class="card-header">
            <h5>Project 2: [Project Name]</h5>
        </div>
        <div class="card-body">
            <p>Description of the individual project, tools used, challenges faced, and solutions implemented.</p>
        </div>
    </div>
{% endblock %}
