{% extends "home.html" %}

{% block title %}Joint Projects{% endblock %}

{% block maincontent %}


    <div class="container text-center mt-4 mb-4 text-white">
        <h1>Joint Projects</h1>
        <p>Here are some of the joint projects I have worked on:</p>
    </div>
    
    <div class="container card mb-4" style="background-color: #00e18b;">
        <div class="card-header">
            <h5>Project: Choose your own adventure</h5>
            <h5>Finished: Jan 9, 2025</h5>
        </div>
        <div class="card-body">
            <p>Projects description: A Terraria-based adventure where you can choose different options, and your goal is to defeat all the bosses.</p>
            <p>Tools used: html, JavaScript, CSS, draw.io</p>
            <p>My role: Led the project's development and contributed to the coding, mostly on the logic behind changing game scenes.</p>
            <img src="static/images/ifs.PNG" class="img-fluid d-block mx-auto mb-2" style="max-height: 700px;">
            <a href="https://github.com/ReinisDelvers/ifififififififififif">ifififififififififif repository</a>
        </div>
    </div>

    <div class="container card mb-4" style="background-color: #00e18b;">
        <div class="card-header">
            <h5>Project: Bullet hell</h5>
            <h5>Finished: May 21, 2024</h5>
        </div>
        <div class="card-body">
            <p>Projects description: Local multiplayer space shooter game where two players can face off against each other.</p>
            <p>Tools used: html, JavaScript, canvas</p>
            <p>My role: Led the project's development, to get something close to the original vision while contributing to the coding, mostly with canvas-related parts.</p>
            <img src="static/images/bullet.PNG" class="img-fluid d-block mx-auto mb-2" style="max-height: 700px;">
            <a href="https://github.com/ReinisDelvers/bullet_hell">bullet_hell repository</a>
        </div>
    </div>

    <div class="container card mb-4" style="background-color: #00e18b;">
        <div class="card-header">
            <h5>Project: Timeline of chemical elemnts</h5>
            <h5>Finished: Dec 12, 2023</h5>
        </div>
        <div class="card-body">
            <p>Projects description: An interactive timeline showcasing element discoveries timeline in a periodic table with additional information and functionality</p>
            <p>Tools used: html, CSS, JavaScript, bootstrap</p>
            <p>My role: Led the project's development, ensuring alignment with the original vision while actively contributing to the coding, especially in implementing logic and functionality.</p>
            <img src="static/images/chemical.PNG" class="img-fluid d-block mx-auto mb-2" style="max-height: 700px;">
            <a href="https://github.com/ReinisDelvers/Periodiska-tabula">Periodiska-tabula repository</a>
        </div>
    </div>
{% endblock %}
